#ifndef _@MODUL@_@ITEM@Factory_hh_
#define _@MODUL@_@ITEM@Factory_hh_

#include <itemfactory.h>

namespace @MODUL@ 
{
    class   @ITEM@Factory: public ali::ItemFactory
    {
        public:    
            virtual std::shared_ptr<ali::ItemImpl> create_item( xmlpp::Element const* _n ) const;
    };
};        

#endif // _@MODUL@_@ITEM@Factory_hh_

