#ifndef _@MODUL@_@ITEM@Base_hh_
#define _@MODUL@_@ITEM@Base_hh_

#include <itemimpl.h>

namespace @MODUL@
{
    class @ITEM@Base: public ali::ItemImpl
    {
	public:
	    @ITEM@Base( xmlpp::Element const* );
	    virtual ~@ITEM@Base() = 0;
	

	    virtual bool has_attr( std::string const& );
	    virtual bool set_attr( std::string const&, std::string const& );
	    virtual bool get_attr( std::string const&, std::string& );
	
	    virtual void id( std::string const& );
	    virtual std::string id() const;
	    virtual std::string repo() const; 
	
	protected:
	    virtual void applyAttrs();

	private:
	    std::string id_;
	    std::string repo_;

/*--------------SECTION: access for attributes-----------------*/	
